# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride

# Editor & IDE Directories
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# Node / Package Manager Caches
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs & Temporary Files
*.log
*.tmp
*.bak
scratch/
.system_generated/
